.currencycontainer{
    padding-top:20px;
    background: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.singlecurrency{
    width: 114px;
height: 45px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
}
.singlecurrency:hover{
    background: rgba(57, 55, 72, 0.22);
}
.currencyText{
    font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 18px;
color: #1D1F22;
text-align: center;
}
