

.itemcontainer{
margin-bottom: 16px;
margin-left: 16px;
margin-right: 4px;
}

.totalitem{
    color: #1D1F22;
    
height: 26px;
font-weight: 700;
font-size: 16px;
margin-bottom: 16px;
}

.singleitem{
margin-bottom: 32px;
display: flex;
}
.buttonarea{
    width: 24px;
height: 210px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
margin-left: 4px;
}
.itemdetails{
height: 190px;
display: flex;
margin-right: 8px;
}
.itemtext{
    width: 146px;
height: 210px;
}
.nameprice{
    width: 136px;
height: 82px;
}
.productname{
    width: 136px;
height: 52px;
color: #1D1F22;
font-family: 'Raleway';
font-size: 16px;
}
.productprice{
    width: 52px;
    height: 26px;
    font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
}
.title{
height: 16px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
margin-bottom: 8px;
color: #1D1F22;
}
.sizeframe{
    display: flex;
padding: 0px;
flex-direction: row;
align-items: flex-start;
width: 120px;
height: 24px;
}
.sizevalue{
    width: 38px;
height: 24px;
padding: 4px;
color: #1D1F22;
background: rgba(255, 255, 255, 0.2);
border: 1px solid #1D1F22;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 14px;

display: flex;
align-items: center;
justify-content: center;
text-align: center;

}

.total{
    color: #1D1F22;
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
    margin-bottom: 32px;
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 16px;
}
.cartImage img{
    margin-right: 8px;
    width: 110px;
height: 190px;
}

.buttoncontainer{
    width: 292px;
height: 43px;
gap: 12px;
display: flex;
justify-content: space-between;
margin-inline: auto;
margin-bottom: 32px;
}
.bagbutton{
    width: 140px;
height: 33px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #1D1F22;
text-transform: uppercase;

color: #1D1F22;
}
.plusclass{
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.checkoutbutton{
    width: 140px;
    height: 33px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5ECE7B;
    border: 1px solid #1D1F22;
text-transform: uppercase;
cursor: pointer;
color: #1D1F22;
}