.topnav {
    background: #FFFFFF;
    overflow: hidden;
    padding-left: 10px;
    width: 1440px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cartimage{
    width: 20px;
    height: 14px;
  }

  .navsection{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
padding-left: 101px;
width: 234px;
height: 56px;
  }
  
  /* Style the links inside the navigation bar */
 .linkText{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;

display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #1D1F22;
  }
  
  /* Add an active class to highlight the current page */
  .active {
    color: #5ECE7B;
  }
  
  .actionbox{
    display: flex;
    width: 80px;
  }